[core]
        editor = vim -c \"set fenc=utf-8\"
        precomposeunicode = true
        quotepath = false
        excludesfile = ~/.gitignore_global
[color]
        diff = auto
        status = auto
        branch = auto
